
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    text-align: center;
    color: #34495e;
}


form {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}


input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


input[type="radio"] {
    width: auto;
    margin-right: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
   
}

button:hover {
    background-color: #2980b9;
}


a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}